<div id="dashboard-main-content">
  <h1>A Magic Card Search Engine</h1>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter Card Name</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="searchValue"
        (keyup.enter)="search()"
      />
      <button
        *ngIf="searchValue"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearSearchValue()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <button
        *ngIf="searchValue"
        matSuffix
        mat-icon-button
        aria-label="Search"
        (click)="search()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
